
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
.header{
  background-color: rgb(255, 255, 255);
  padding:40px;
  margin:10px;
}
.logo{
  width:200px;
  height:60px;
  margin:8px;
}
.leftpart{
  display: flex;
  flex-direction: column;
  gap:5px;
  margin-top:150px;
}
.matter{
  display: flex;
  flex-direction: column;
  padding:40px;
  justify-content: center;
  max-width: 700px;
}
.matter h1{
  color:#484237;
  font-family: "Exo 2", sans-serif;
  margin-top: 60px;
  margin-left:30px;
  font-weight:500px;
  font-size:50px;
}
.matter p{
  color:#484237;
  font-family: "Exo 2", sans-serif;
  margin-top: 30px;
  font-size:20px;
  margin-left:30px;
  max-width:1000px;
}
.social{
  display:flex;
  flex-direction:row;
  gap:30px;
  padding-top:40px;
  padding-left:30px;
}
.footer{
  width:600px;
  height:600px;
  border-radius: 12px;
}
.side{
  display:flex;
  flex-direction:row;
  gap:100px;
}
@media (max-width: 768px) {
  .header{
    margin-top:100px;
  }
}